* {
    box-sizing: border-box;
}

body {
    width: 100%;
}

canvas {


    width: 450px;
    /* height: 450; */
    margin: 0 auto;

}
 img{
     width: 100%;
 }

.container {
    margin: 0 auto;
   
}