* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    max-width:980px;
    
}

/*helpers*/
.flex {
    display: flex;
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.wrap {
    flex-wrap: wrap;
}

/*header*/
header {
    width: 100%;
    margin: 0 auto;
    background-color: #323232;
}

nav {
    margin: 0 auto;
    max-width: 500px;
}
.main-menu {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

.main-menu a{
    font-size: 2em;
    text-decoration: none;
    color: white;
}

.main-menu a:hover {
    color: #D59480;
}

/*main*/

main {
    
    width: 100%;
}

.search-box {
    justify-content: center;
    background-color: #323232;
}


.the-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    grid-gap: 10px;
}

.the-gallery img {
    cursor: pointer;
    display: block;
    width: 100%;
    height: 100%;
}

.img-container {
    align-items: center;
    max-width: 300px;
    justify-self: center;
}

.wordFilter {
    justify-content: center;
    margin: 20px 0 20px 0;
}

.wordFilter li {
    margin: 0 10px 0 0;
    cursor: pointer;
}

/*footer*/
footer {
    max-width: 80%;
    margin: 0 auto;
}
.about-container {
    font-size: 1.5em;
    margin: 0 0 50px 0;
}
.about-container h2, section h2 {
    text-align: center;
}


