* {
    box-sizing: border-box;
}


@font-face {
    font-family: eurof;
    src: url('../fonts/eurofurence/eurof55.ttf');
}
@font-face {
    font-family: Quicksand;
    src: url('../fonts/Quicksand/Quicksand-Medium.ttf');
}
@font-face {
    font-family: Oswald;
    src: url('../fonts/Oswald/Oswald-Regular.ttf');
}

@font-face {
    font-family: lato;
    src: url('../fonts/Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: Impact;
    src: url('../fonts/impact/impact.ttf');
}

@font-face {
    font-family:Indie_Flower;
    src: url('../fonts/Indie_Flower/IndieFlower.ttf');
}



body {
    /* margin: 0 auto; */
    width: 100%;
    /* max-width:980px; */
    
}



a:hover {
    text-decoration: none;
}
/*helpers*/
.flex {
    display: flex;
}


/* flex */

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.align stretch {

  align-items: stretch;  
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.wrap {
    flex-wrap: wrap;
}

.mesure-text {
    position: absolute;
    visibility: hidden;
    height: auto;
    width: auto;
    white-space: nowrap;
}

/*header*/
header {
    width: 100%;
    /* height: 150px; */
    /* margin: 0 auto; */
    background-color: #323232;
    /* display: flex; */
    /* justify-content: space-around; */
    
}

.con-head {
    margin: 0 auto;
    height: 150px;
    max-width: 980px;
}


nav {
    justify-content: space-around;

}

.nav-mobile {

    display: none;
}



.toggle-menu-screen {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background: rgba(42, 42, 42, 0.6);
    z-index: 0;
    opacity: 0.9;
    visibility: hidden;
    cursor: pointer;
    transition: opacity .5s; 
}



.con-head h1 {
    color:#82CADB;
    margin: 0px;
    /* font-family: 'Indie_Flower','Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'eurof','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.main-menu {
    flex-direction: row;
    align-items: center;
    
}

.main-menu a{
    font-size: 1.5em;
    text-decoration: none;
    color: white;
    padding: 10px;
    font-family: 'eurof','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#82CADB;
}

.main-menu a:hover {
    color: #D59480;
}


/* cover */
.cover-img {
    background-color: #323232;

    background-image: url(../img/cover/paint.jpg);
    width: 100%;
    height: 400px;
    background-position: center;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
}

.text-cover h1{
    font-family: 'Oswald', Tahoma, Geneva, Verdana, sans-serif;
margin: 0;
padding: 15px;
font-size: 6em;
color: #0F243E;
background-color: rgba(240, 255, 255, 0.377);
width: 100%;
text-align: center;
margin-bottom: 15px;


}



.btn-cover {
    background: #0F243E;
    /* background-image: -webkit-linear-gradient(top, #d6d6d6, #0F243E);
    background-image: -moz-linear-gradient(top, #d6d6d6, #0F243E);
    background-image: -ms-linear-gradient(top, #d6d6d6, #0F243E);
    background-image: -o-linear-gradient(top, #d6d6d6, #0F243E);
    background-image: linear-gradient(to bottom, #d6d6d6, #0F243E); */
    background-color: rgba(15, 36, 62, 0.363);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 21px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    cursor: pointer;
  }
  
  .btn-cover:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

/*main*/

main {
    margin: 0 auto;
    max-width: 980px;
    margin-bottom: 20px;
    
}

.cont-editor {
    width: 100%;
    background-color: #323232;  
}

.editor{
    
    margin: 0 auto;
    max-width: 980px;
    padding: 20px;
    color: #0F243E;
    padding-top: 60px;
    padding-bottom: 50px;


}




a h2 {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.cont-canvas h2 {
    color: rgb(255, 255, 255);
    padding: 5px;
    background-color: #82CADB;
    text-align: center;
    border-radius: 5px;
    /* padding-bottom: 20px; */
    margin-bottom: 20px;
}
.control-box {
    padding: 10px;
    background-color: #323232;
    border: solid 1px #ffffff3b;
    border-radius: 15px;
    /* width: 100%; */
    /* max-width: 450px; */
}


.control-box h2 {
    color: rgb(255, 255, 255);
    padding: 5px;
    background-color: #82CADB;
    text-align: center;
    border-radius: 5px;
    /* padding-bottom: 20px; */
    margin-bottom: 20px;
}

.txt-user{
    width: 100%;
    height: 40px;
    text-align: center;
    padding: 10px;
    /* margin:20px; */
}

.line-control {

    margin-bottom: 10px;
}

.color-btn {
    background-color: #616161;
    padding: 5px;
    height: 46px;
    border-radius: 9px;
    border: 1px solid #29668f;
    margin: 0 2px;
}

.btn-control {
	background-color:#ffffff3b;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #29668f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:10px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.btn-control:hover {
	background-color:#408c99;
}
.btn-control:active {
	position:relative;
	top:1px;
}

        


.search-box {
    justify-content: center;
    margin:20px;
    
}

.cont-gallery {
    /* background-color: #323232;   */
}

.close-gallery {
    display: none;
}

.the-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    grid-gap: 10px;
}

.the-gallery img {
    cursor: pointer;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-container {
    align-items: center;
    max-width: 300px;
    justify-self: center;
}





.wordFilter {
    justify-content: center;
    margin: 20px 0 20px 0;
}

.wordFilter li {
    margin: 0 10px 0 0;
    cursor: pointer;
}

/*footer*/
footer {
    max-width: 100%;
}

.about-container {
background-color: #E0B62C;
    width: 100%;
    padding: 20px; 
    font-size: 1.5em;
    padding-top: 30px;
    padding-bottom: 30px;
}

.about {
    margin: 0 auto;
    color: #ffffff;
        max-width: 980px;
    }

.about-container h2, section h2 {
    text-align: center;
}


.about-container img {
    float: left;
    max-width: 250px;
    border-radius: 50%;
    padding: 10px;
    margin:30px;
}

.cont-wordFilter{
    background-color:#82CADB;
    width: 100%;
    padding: 20px; 
    font-size: 1.5em;

}

.wordFilter {
    padding: 0 50;
    margin: 0 auto;
    max-width: 980px;
    color: #ffffff;
}

.cont-contact{
    background-color:#82CADB;
    width: 100%;
    padding: 30px; 
    font-size: 1.5em;
}

section{
    padding: 0 50;
    margin: 0 auto;
    max-width: 580px;
}



 

@media (max-width: 800px) {

    .con-head h1 {
        padding-left: 10px;
    }

    .toggle-menu-btn {
        display: block; 
    }

        .show-div {
            visibility: visible;
            opacity: 1; 
            /* background-color: black; */
            display:block;
          }
.main-menu{

    z-index: 1;
}
.nav-mobile{
    z-index: 1;
}

    ul.main-menu {
        flex-direction: column;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        background: rgba(10, 5, 5, 0.58);
        border-left: 1px solid rgba(102, 102, 102, 0.5);
        min-width: 250px;
        transform: translate(100%, 0);
    
        transition: all .8s;
    }
    
    ul.main-menu.open {
        transform: translate(0, 0);
    }
    .main-menu a {
        color: white;
        text-decoration: dotted;
        display: block;
        width: 130px;
        height: 130px;
        line-height: 130px;
        text-align: center;
        font-size: 18px;
        font-family: 'lato-bold','Verdana', 'Geneva', 'Tahoma', 'sans-serif'
    }

/* nav-mobile */

.nav-mobile {
    cursor: pointer;
    display: block;
    float: right;
    padding: 10px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}


}

