* {
    box-sizing: border-box;
}


@font-face {
    font-family: eurof;
    src: url('../fonts/eurofurence/eurof55.ttf');
}

@font-face {
    font-family: lato;
    src: url('../fonts/Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: Impact;
    src: url('../fonts/impact/impact.ttf');
}

@font-face {
    font-family:Indie_Flower;
    src: url('../fonts/Indie_Flower/IndieFlower.ttf');
}



body {
    /* margin: 0 auto; */
    width: 100%;
    /* max-width:980px; */
    
}

/*helpers*/
.flex {
    display: flex;
}


/* flex */

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.align stretch {

  align-items: stretch;  
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.wrap {
    flex-wrap: wrap;
}

/*header*/
header {
    width: 100%;
    /* height: 150px; */
    /* margin: 0 auto; */
    background-color: #323232;
    /* display: flex; */
    /* justify-content: space-around; */
    
}

.con-head {
    margin: 0 auto;
    height: 150px;
    max-width: 980px;
}


nav {
    justify-content: space-around;

}

.nav-mobile {

    display: none;
}



.toggle-menu-screen {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background: rgba(42, 42, 42, 0.6);
    z-index: 0;
    opacity: 0.9;
    visibility: hidden;
    cursor: pointer;
    transition: opacity .5s; 
}



.con-head h1 {
    color:aliceblue;
    margin: 0px;
    font-family: 'Indie_Flower','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-menu {
    flex-direction: row;
    align-items: center;
    
}

.main-menu a{
    font-size: 1.5em;
    text-decoration: none;
    color: white;
    padding: 10px;
    font-family: 'eurof','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-menu a:hover {
    color: #D59480;
}



/*main*/

main {
    margin: 0 auto;
    max-width: 980px;
    /* width: 100%; */
}

.container{
    width: 100%;
    /* background-color: aqua; */
}


.control-box {
    padding: 10px;
}

.search-box {
    justify-content: center;
    
}



.the-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    grid-gap: 10px;
}

.the-gallery img {
    cursor: pointer;
    display: block;
    width: 100%;
    height: 100%;
}

.img-container {
    align-items: center;
    max-width: 300px;
    justify-self: center;
}

.wordFilter {
    justify-content: center;
    margin: 20px 0 20px 0;
}

.wordFilter li {
    margin: 0 10px 0 0;
    cursor: pointer;
}

/*footer*/
footer {
    max-width: 80%;
    margin: 0 auto;
}
.about-container {
    font-size: 1.5em;
    margin: 0 0 50px 0;
}
.about-container h2, section h2 {
    text-align: center;
}



 

@media (max-width: 800px) {

    .toggle-menu-btn {
        display: block; 
    }

        .show-div {
            visibility: visible;
            opacity: 1; 
            /* background-color: black; */
            display:block;
          }


    ul.main-menu {
        flex-direction: column;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        background: rgba(10, 5, 5, 0.58);
        border-left: 1px solid rgba(102, 102, 102, 0.5);
        min-width: 250px;
        transform: translate(100%, 0);
    
        transition: all .8s;
    }
    
    ul.main-menu.open {
        transform: translate(0, 0);
    }
    .main-menu a {
        color: white;
        text-decoration: dotted;
        display: block;
        width: 130px;
        height: 130px;
        line-height: 130px;
        text-align: center;
        font-size: 18px;
        font-family: 'lato-bold','Verdana', 'Geneva', 'Tahoma', 'sans-serif'
    }

/* nav-mobile */

.nav-mobile {
    cursor: pointer;
    display: block;
    float: right;
    padding: 10px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}


}

