* {
    box-sizing: border-box;
}


@font-face {
    font-family: eurof;
    src: url('../fonts/eurofurence/eurof55.ttf');
}
@font-face {
    font-family: Quicksand;
    src: url('../fonts/Quicksand/Quicksand-Medium.ttf');
}
@font-face {
    font-family: Oswald;
    src: url('../fonts/Oswald/Oswald-Regular.ttf');
}

@font-face {
    font-family: lato;
    src: url('../fonts/Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: Impact;
    src: url('../fonts/impact/impact.ttf');
}

@font-face {
    font-family:Indie_Flower;
    src: url('../fonts/Indie_Flower/IndieFlower.ttf');
}



body {
    /* margin: 0 auto; */
    width: 100%;
    /* max-width:980px; */
    
}

/*helpers*/
.flex {
    display: flex;
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.wrap {
    flex-wrap: wrap;
}

.mesure-text {
    position: absolute;
    visibility: hidden;
    height: auto;
    width: auto;
    white-space: nowrap;
}

/*header*/
header {
    width: 100%;
    height: 150px;
    margin: 0 auto;
    background-color: #323232;
    
}

nav {
    justify-content: space-around;

}
nav h1 {
    color:aliceblue;
    margin: 0px;
    font-family: 'Indie_Flower','Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.main-menu {
    flex-direction: row;
    align-items: center;
    
}

.main-menu a{
    font-size: 1.5em;
    text-decoration: none;
    color: white;
    padding: 10px;
}

.main-menu a:hover {
    color: #D59480;
}

/*main*/

main {
    margin: 0 auto;
    max-width: 980px;
    /* width: 100%; */
}

.container{
    width: 100%;
    /* background-color: aqua; */
}

.search-box {
    justify-content: center;
    
}



.the-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    grid-gap: 10px;
}

.the-gallery img {
    cursor: pointer;
    display: block;
    width: 100%;
    height: 100%;
}

.img-container {
    align-items: center;
    max-width: 300px;
    justify-self: center;
}

.wordFilter {
    justify-content: center;
    margin: 20px 0 20px 0;
}

.wordFilter li {
    margin: 0 10px 0 0;
    cursor: pointer;
}

/*footer*/
footer {
    max-width: 80%;
    margin: 0 auto;
}
.about-container {
    font-size: 1.5em;
    margin: 0 0 50px 0;
}
.about-container h2, section h2 {
    text-align: center;
}

#btnGroupDrop1 {
    background-color: #EEEEEE;
    color: black;
    height: 31px;
    margin: 0 0 3px 0;
}
